*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #ffe1bc;
	font-family: "Trebuchet MS";
}

.hero{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	opacity: 1;
	transition: .3s;
}

.hero.-invisible{
	opacity: 0;
}

.hero-pic{
	width: 400px;
}

.control-panel{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	min-height: 250px;
	background-color: #565656;
	border: 4px solid black;
	border-radius: 20px;
	padding: 20px;
}

.bubble{
	position: absolute;
	top: 120px;
	left: 500px;
	transform: translate(-50%);
	min-width: 250px;
	min-height: 150px;
	background-color: white;	
	border-radius: 20px;
	padding-top: 56px;
	text-align: center;
	transition: .3s;
	opacity: 0;
}

.bubble.-visible{
	opacity: 1;
}

button,
input{
	padding: 6px;
	background-color: #dedbee;
	border-radius: 4px;
	outline: none;
	font-size: 14px;
	font-weight: 900px;
}

input{
	margin: 0 20px 0 20px;
	border: none;
}

button{
	background-color: white;
	color: #f40a11;
}

button:hover{
	background-color: #f4f4f4;
}

button:active{
	background-color: #dedbee;
}

.calc-panel{
	margin-bottom: 20px;
}

.bubble-test{
	border: 2px solid black;
	padding: 10px;
}

.array-panel{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 350px;
	min-height: 150px;
	background-color: #565656;
	border: 4px solid black;
	border-radius: 20px;
}

.test-item{ 
	min-width: 100px;
	min-height: 100px;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	padding-top: 10px;
	transition: 
}